.privacy-container {
  display: flex;
  height: 100vh;
  width: 100vw;
  color: #ffffff;
  margin: 0;
  justify-content: center;
  background-color: blue;
  overflow: scroll;
}


@keyframes fadeIn {
  0% { opacity: 0; }
  100% { opacity: 1; }
}

.privacy-content {
  width: 70%;
  height: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 4em;
  border-radius: .8em;
  animation: fadeIn 0.5s ease-in forwards;
}


.privacy-title{
  font-family: "Hoefler Text";
  font-size: 2em;
  font-weight: 500;
  font-style: italic;
  text-align: center;
  margin: 0;
  color: white;
  text-transform: uppercase;
  text-decoration: line-through;
}


.privacy-section {
  width: 100%;
  margin-bottom: 0em;
}

.privacy-section-title {
  font-size: 1.5em;
  font-family: "Andale Mono", AndaleMono, monospace;
  font-weight: 900;
  text-transform: uppercase;
}

.privacy-text {
  font-size: 1em;
  font-family: "Andale Mono", AndaleMono, monospace;
  line-height: 2em;
  margin-bottom: 2em;
}

.privacy-button-container {
  display: flex;
  gap: 1em;
  margin-top: 2em;
  padding-bottom: 4em;
}

.privacy-exit-button {
  background-color: blue;
  color: white;
  font-family: "Andale Mono", AndaleMono, monospace;
  text-transform: uppercase;
  font-size: 1em;
  font-weight: light;
  border-radius: .3em;
  border: 1px solid rgba(255, 255, 255, 0.588);
  padding: .8em 5em;
  width: 100%;
}

.privacy-exit-button:hover {
  background-color: rgb(255, 255, 255);
  color: rgb(0, 0, 255);
}

@media (max-width: 640px) {
  .privacy-container {
      padding: 2em 1em;
  }
  

  .privacy-content {
      padding: 3em;
      width: 100%;
  }

  .privacy-title {
      font-size: 1.7em;
  }

  .privacy-section-title {
      font-size: 1.3em;
  }

  .privacy-text {
      font-size: 1em;
  }

  .privacy-button-container {
      display: flex;
      flex-direction: column;
      align-items: center;
      width: 100%;
  }

  .privacy-exit-button {
      width: auto;
      min-width: 100px;
  }
}